@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;  /* Fixed position for overlay */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  /* Make sure it's above everything else */
}

.title-bar {
  background-color: #000000;  /* Solid background color */
  color: white;
  padding: 10px 20px;  /* Reduced padding */
  text-align: center;
  font-size: 18px;  /* Reduced font size */
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #010103;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.button:hover {
  background-color: #09090f;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.center-active {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:not(.center-active) {
  transform: scale(0.9);
  cursor: default;
}

html, body {
  margin-top: 80px;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  background-color: #cbe8f3fe;
  
  &.blue {
    background-color: #c9cff2;
  }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Define positions for 4 cards */
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1; /* Center position */
  img {
    box-shadow: 0px 0px 5px 0px rgba(7, 7, 7, 0.47);
  }
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0; /* Right position */
}

#item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0; /* Left position */
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2 {
  transform: translateX(0) scale(0.6);
  opacity: 0;
  z-index: -1; /* Behind center */
}
